In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("/home/rajeev/python_projects/mypython/Quote-Equity-AXISBANK-EQ-24-01-2022-to-24-04-2022.csv")

In [3]:
df.describe()

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,No of trades
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.0,60.000000,6.000000e+01,60.000000
mean,759.170833,770.185000,748.386667,759.039167,759.859167,760.174167,759.561500,866.9,626.302500,1.159455e+07,193959.133333
std,37.480400,36.711307,40.344520,39.154952,38.247311,38.768148,38.998557,0.0,3.028277,6.452219e+06,80847.877827
min,665.000000,673.750000,637.000000,667.550000,669.000000,667.550000,655.680000,866.9,616.000000,5.430894e+06,89741.000000
25%,728.925000,742.587500,722.525000,729.412500,733.137500,731.125000,731.537500,866.9,626.650000,7.449964e+06,144210.500000
50%,772.475000,782.325000,763.325000,773.525000,773.625000,773.775000,775.075000,866.9,626.650000,9.996546e+06,179062.000000
75%,791.000000,801.162500,779.375000,793.462500,791.887500,793.462500,789.025000,866.9,626.650000,1.290746e+07,215658.250000
max,807.550000,816.200000,803.100000,809.800000,807.950000,809.800000,810.310000,866.9,631.000000,3.808816e+07,521567.000000

SyntaxError: EOL while scanning string literal (3707753518.py, line 2)